.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

body {
  background-image: url('/img/uts.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*
 * Sidebar
 */

 .sidebar {
  height: 100vh;
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

/* Add this to your dashboard.css file */
.table {
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
}